<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>Interpolation Binding</h1>
  <h1>
   {{ title }}!
  </h1>

  <h2>{{gettitle()}}</h2>

  <h2>{{'Hello and Welcome to '+'Angular Data Binding'}}</h2>

  <h2>There are {{2+2}} Types of Binding</h2>
  <ul type="1">
    <li>Interpolaton.</li>
    <li>Property Binding.</li>
    <li>Event Binding.</li>
    <li>Two-Way Data Binding.</li>
  </ul>
</div><hr/>

<div style="text-align: right;margin-top: -22em;margin-right: 8em;">
  <h1>Property Binding</h1>
  <h2 [innerText]="title"></h2>
  <h2 [innerText]="gettitle()"></h2>
  <h2 [innerText]="'Hello and Welcome to'+' Angular Data Binding'"></h2>
  <h2 [innerText]="10*10"></h2>
</div>

<div style="text-align: left; margin-top: 8em">
  <button (click)='buttonClicked()'>Click me</button>
  <h2>Button Clcked {{count}} Times</h2>
</div>

<div style="text-align: right;margin-right: 5em;margin-top:-3em">
  <label>Enter your Name :</label>
  <input type="text" [(ngModel)]="name">
  <h2>you have Entered {{name}}</h2>
</div>